<?xml version="1.0" encoding="utf-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
xmlns="https://jakarta.ee/xml/ns/jakartaee"
xmlns:web="https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd"
xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee
		    https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd" version="6.0">
	<display-name>Linked OSM</display-name>

	<context-param>
		<param-name>base-scheme</param-name>
		<param-value>https</param-value>
	</context-param>

	<!-- rate-limit exemption keys (RateLimitFilter): the env var
	     OSMWRAP_API_KEYS overrides this baked-in fallback -->
	<context-param>
		<param-name>api-keys</param-name>
		<param-value>${api.keys}</param-value>
	</context-param>

	<filter>
		<filter-name>cors</filter-name>
		<filter-class>com.ontologycentral.osmwrap.webapp.CorsFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>cors</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>

	<filter>
		<filter-name>multiviews</filter-name>
		<filter-class>com.ontologycentral.osmwrap.webapp.MultiViewsFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>multiviews</filter-name>
		<url-pattern>/*</url-pattern>
		<dispatcher>REQUEST</dispatcher>
	</filter-mapping>

	<filter>
		<filter-name>ratelimit</filter-name>
		<filter-class>com.ontologycentral.osmwrap.webapp.RateLimitFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>ratelimit</filter-name>
		<servlet-name>osm</servlet-name>
		<servlet-name>geoOverpass</servlet-name>
		<servlet-name>geoOSM</servlet-name>
		<servlet-name>search</servlet-name>
		<servlet-name>overpassFeatures</servlet-name>
		<servlet-name>poi</servlet-name>
		<servlet-name>around</servlet-name>
		<servlet-name>changeset</servlet-name>
		<servlet-name>tag</servlet-name>
		<servlet-name>overpassElement</servlet-name>
		<servlet-name>sparql</servlet-name>
		<servlet-name>tileProtomaps</servlet-name>
		<servlet-name>tileTracestrack</servlet-name>
		<servlet-name>tracestrackElevation</servlet-name>
		<dispatcher>REQUEST</dispatcher>
	</filter-mapping>

	<filter>
		<filter-name>rdf</filter-name>
		<filter-class>com.ontologycentral.osmwrap.webapp.RdfFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>rdf</filter-name>
		<url-pattern>/*</url-pattern>
		<dispatcher>REQUEST</dispatcher>
	</filter-mapping>

	<listener>
		<listener-class>com.ontologycentral.osmwrap.webapp.Listener</listener-class>
	</listener>

	<servlet>
		<servlet-name>osm</servlet-name>
		<servlet-class>com.ontologycentral.osmwrap.webapp.FeatureServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>geoOverpass</servlet-name>
		<servlet-class>com.ontologycentral.osmwrap.webapp.GeometryOverpassServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>geoOSM</servlet-name>
		<servlet-class>com.ontologycentral.osmwrap.webapp.GeometryOSMServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>search</servlet-name>
		<servlet-class>com.ontologycentral.osmwrap.webapp.SearchServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>overpassFeatures</servlet-name>
		<servlet-class>com.ontologycentral.osmwrap.webapp.OverpassFeaturesServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>poi</servlet-name>
		<servlet-class>com.ontologycentral.osmwrap.webapp.POIServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>around</servlet-name>
		<servlet-class>com.ontologycentral.osmwrap.webapp.AroundServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>changeset</servlet-name>
		<servlet-class>com.ontologycentral.osmwrap.webapp.ChangesetServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>tag</servlet-name>
		<servlet-class>com.ontologycentral.osmwrap.webapp.TagServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>overpassElement</servlet-name>
		<servlet-class>com.ontologycentral.osmwrap.webapp.OverpassElementServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>sparql</servlet-name>
		<servlet-class>com.ontologycentral.osmwrap.webapp.SparqlServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>sparql-page</servlet-name>
		<jsp-file>/WEB-INF/sparql.jsp</jsp-file>
	</servlet>
	<servlet>
		<servlet-name>error</servlet-name>
		<servlet-class>com.ontologycentral.osmwrap.webapp.ErrorServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>routes</servlet-name>
		<servlet-class>com.ontologycentral.osmwrap.webapp.RoutesServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>tileProtomaps</servlet-name>
		<servlet-class>com.ontologycentral.osmwrap.webapp.ProtomapsTileServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>tileTracestrack</servlet-name>
		<servlet-class>com.ontologycentral.osmwrap.webapp.TracestrackTileServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>tracestrackElevation</servlet-name>
		<servlet-class>com.ontologycentral.osmwrap.webapp.TracestrackElevationServlet</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>routes</servlet-name>
		<url-pattern>/routes</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>routes</servlet-name>
		<url-pattern>/routes.json</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>geoOverpass</servlet-name>
		<url-pattern>/geo/overpass/*</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>geoOSM</servlet-name>
		<url-pattern>/geo/osm/*</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>osm</servlet-name>
		<url-pattern>/osm/node/*</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>osm</servlet-name>
		<url-pattern>/osm/relation/*</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>osm</servlet-name>
		<url-pattern>/osm/way/*</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>search</servlet-name>
		<url-pattern>/nominatim/search</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>search</servlet-name>
		<url-pattern>/nominatim/search.json</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>search</servlet-name>
		<url-pattern>/nominatim/search.rdf</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>search</servlet-name>
		<url-pattern>/nominatim/search.ttl</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>overpassFeatures</servlet-name>
		<url-pattern>/overpass/features</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>overpassFeatures</servlet-name>
		<url-pattern>/overpass/features.json</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>overpassFeatures</servlet-name>
		<url-pattern>/overpass/features.rdf</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>overpassFeatures</servlet-name>
		<url-pattern>/overpass/features.ttl</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>poi</servlet-name>
		<url-pattern>/overpass/poi</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>poi</servlet-name>
		<url-pattern>/overpass/poi.json</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>poi</servlet-name>
		<url-pattern>/overpass/poi.rdf</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>poi</servlet-name>
		<url-pattern>/overpass/poi.ttl</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>around</servlet-name>
		<url-pattern>/overpass/around</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>around</servlet-name>
		<url-pattern>/overpass/around.json</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>around</servlet-name>
		<url-pattern>/overpass/around.rdf</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>around</servlet-name>
		<url-pattern>/overpass/around.ttl</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>changeset</servlet-name>
		<url-pattern>/changeset/*</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>tag</servlet-name>
		<url-pattern>/tag/*</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>overpassElement</servlet-name>
		<url-pattern>/overpass/node/*</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>overpassElement</servlet-name>
		<url-pattern>/overpass/way/*</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>overpassElement</servlet-name>
		<url-pattern>/overpass/relation/*</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>sparql</servlet-name>
		<url-pattern>/sparql</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>sparql</servlet-name>
		<url-pattern>/sparql.json</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>sparql</servlet-name>
		<url-pattern>/sparql.xml</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>sparql</servlet-name>
		<url-pattern>/sparql.tsv</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>sparql</servlet-name>
		<url-pattern>/sparql.ttl</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>sparql</servlet-name>
		<url-pattern>/sparql.rdf</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>sparql-page</servlet-name>
		<url-pattern>/sparql.html</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>tileProtomaps</servlet-name>
		<url-pattern>/tile/protomaps/*</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>tileTracestrack</servlet-name>
		<url-pattern>/tile/tracestrack/*</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>tracestrackElevation</servlet-name>
		<url-pattern>/tracestrack/elevation</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>error</servlet-name>
		<url-pattern>/error</url-pattern>
	</servlet-mapping>

	<error-page><error-code>400</error-code><location>/error</location></error-page>
	<error-page><error-code>404</error-code><location>/error</location></error-page>
	<error-page><error-code>406</error-code><location>/error</location></error-page>
	<error-page><error-code>413</error-code><location>/error</location></error-page>
	<error-page><error-code>429</error-code><location>/error</location></error-page>
	<error-page><error-code>500</error-code><location>/error</location></error-page>
	<error-page><error-code>502</error-code><location>/error</location></error-page>
	<error-page><error-code>503</error-code><location>/error</location></error-page>
	<error-page><error-code>504</error-code><location>/error</location></error-page>

	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
	</welcome-file-list>
</web-app>
